@{
    ViewData["Title"] = "delete database";
}

<p class="text-danger"> are you sure want detele database?</p>
<form method = "post">
    <button type="submit" class=" btn btn-danger">
        Delete
    </button>
    <kr></kr>
    <a asp-action="Index">Manage DB</a>
</form>
